:root { 
--amber_600_19:#ffb00019; 
--gray_900_0c:#1018280c; 
--yellow_800:#fcb017; 
--black_900:#000000; 
--gray_500_01:#a1a1aa; 
--teal_900:#014225; 
--gray_500_02:#a29e94; 
--yellow_800_01:#fbb019; 
--gray_900_02:#191817; 
--gray_600:#7a7467; 
--gray_700:#6c6657; 
--gray_900_03:#39311d; 
--gray_900_04:#2c230e; 
--gray_500:#afaba4; 
--blue_gray_100:#cfd4dc; 
--gray_900_05:#0f1728; 
--amber_600:#ffb000; 
--gray_900:#211701; 
--gray_900_01:#101828; 
--yellow_50:#fff7e6; 
--gray_200:#f0f0f0; 
--gray_900_06:#18181b; 
--gray_300:#e4e4e7; 
--gray_300_02:#e0dee2; 
--gray_300_01:#e2e1de; 
--gray_100:#f6f6f5; 
--white_A700_00:#ffffff00; 
--white_A700:#ffffff; 
--teal_900_01:#024225; 
}